.game-board {
  width: 90%;
  max-width: 625px;
  height: auto;
  background-color: cadetblue;
  border: solid 1px black;
  margin: 1% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  perspective: 1000px;
}

header p {
  margin: 0;
}

.winner {
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 60vh;
  background-color: rgba(240, 248, 255, 0.9);
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: cadetblue;
  font-size: 3rem;
}

.winner-title {
  margin: 0;
}

header {
  background-color: darkgray;
  margin: 0;
}

.match-title {
  margin-top: 0;
  font-size: 2rem;
}

button {
  margin: 0;
  height: 2rem;
  color: bisque;
  background-color: cadetblue;
  border: solid 2px bisque;
  transition: 200ms;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 200ms;
}

@media screen and (max-width: 600px) {
  .game-board {
    width: 90%;
  }
}