.card {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 2% auto 2% auto;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card-front {
  background-color: burlywood;
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: auto;
  height: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: cornsilk;
}

.card-symbol {
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  .card {
    position: relative;
    width: 75px;
    height: 100px;
  }

  .card-symbol {
    margin: auto;
    font-size: 3rem;
  }

  .card-back {
    margin: auto;
  }
}